<head><meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Jura|Pacifico|Poiret+One|Quicksand|Righteous|Rosario|Sacramento|VT323" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

    <link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Julius+Sans+One|Montserrat|Notable|Orbitron|Oxygen|Righteous" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/styles/style.css') }}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<!------ Include the above in your HEAD tag ---------->
<div class = "mynav">
  
        <form action = "/logout" method="POST">
            <input type = "submit" class = "logout" value="Log Out">
            </form>
  

</div>
<div class = "sidebar">
    <div class = "container">
        <img  style= "margin-left: 3%;
        margin-top: 3%;
        border: 10px solid #926798;
        border-radius: 130px;" src = "../static/images/default.png">
    </div><br>
    <div class = "name">
        {{f}}&nbsp;{{l}}
    </div>
    <form action = "/run" method = "POST">
    <input type = "submit" class = "runbutton" value = "Run Accuracy Test">
    </form>
   

</div>







<div class="back">
  <div class = "recent" >Your Recent Activity</div>
  <p>

  </p>
  <table class="table table-striped">
    <thead class = "tablehead">
 
      <tr>
        <th>Id</th>
        <th >Date & Time</th>
        <th>Num of Parameters</th>
        <th>Dataset Used</th>
        <th>Accuracy</th>
      </tr>
    </thead>
    <tbody>
    
      {% for temp in var %}
      <tr>
       
      <td>{{temp[0]}}</td>
      <td>{{temp[1]}}</td>
      <td>{{temp[2]}}</td>
    
      <td> <a href={{temp[3]}} download> {{temp[4]}}</a></td>
      <td>
        <a href="#" class="btn btn-lg mybttn" data-toggle="modal" data-target="#{{temp[0]}}">
  Click to view
</a>
<div class="modal fade" id="{{temp[0]}}" tabindex="-1" role="dialog" aria-labelledby="{{temp[0]}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        
         <img src = {{temp[5]}} />
         <h2>Accuracy</h2>
          {% if temp[6] == 1 %}
           <p>Logistic Regression : {{temp[12]}}</p>
           {% endif %}
           {% if temp[7]==1 %}
           <p>Linear Discriminant Analysis : {{temp[13]}}</p>
           {% endif %}
           {% if temp[8]==1 %}
           <p>K Neighbors Classifier : {{temp[14]}}</p>
           {% endif %}
           {% if temp[9]==1 %}
           <p>Decision Tree Classifier : {{temp[15]}}</p>
           {% endif %}
           {% if temp[10]==1 %}
           <p>Gaussian NB : {{temp[16]}}</p>
           {% endif %}
           {% if temp[11]==1 %}
           <p>Support Vector : {{temp[17]}}</p>
          {% endif %}
      </div>
      <div class="modal-footer">

       
       
      </div>
    </div>
  </div>
</div>
       </td>
     </tr>
      {% endfor %}
    
    </tbody>
  </table>
</div>

</body>
</html>